{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'savenewpage' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <textarea class="form-control" type="text" name="content" rows="3" placeholder="Markdown Content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>

{% endblock %}
